<div id="navbar"></div>


<div class="main">
    <div class="form-box">
        <div class="form-box__button-box">
            <div id="button-box__current-button" class="button-box__button-wrap"></div>
            <button type="button" class="button-box__toggle-button button-box__button_text_white"
                    id="login-button">Параметры моделирования</button>
        </div>

        <form id="modeling" class="form-box__form form-box__input-group">
            <input name="DaysCount" type="number" class="form__input-field" placeholder="Длительность ПК">
            <input name="UniversitiesCount" type="number" class="form__input-field" placeholder="Количство университетов">
            <input name="SubdivisionCount" type="number" class="form__input-field" placeholder="Среднее кол-во кафедр">
            <input name="EducProgramCount" type="number" class="form__input-field" placeholder="Среднее кол-во обра-ых программ">
            <input name="MeanStudentCount" type="number" class="form__input-field" placeholder="Среднее кол-во абитуриентов">
            <input name="BenefitCount" type="number" class="form__input-field" placeholder="Количество льгот">
            <p class="form__validation-hint form__send-form-hint" id="validation-hint-login"><em></em></p>
            <button type="submit" id="model-start" class="form__submit-button">Запустить моделирование</button>
        </form>
    </div>

    <div class="create-playlist-container">
        <textarea id="one" rows="20" cols="203"></textarea>
    </div>
</div>
